<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/首页">首页</a></li>
		        	<li><a href="/关于Taipanbet">关于Taipanbet</a></li>
	        		<li><a href="/优惠活动">优惠活动</a></li>
	        		<li><a href="/部落客">部落客</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:service@taipanbet.com">email</a></li>
	        		<li><a href="https://www.taipanbet.com">www.taipanbet.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
